<h1>Listing users</h1>
<hr/>

 
<% @users.each do |user| %>
<table border=1 bgcolor= black>
  <tr>
    <td> User name: </td>
    <td><%= link_to"#{user.name}", user %></td>
    </tr>
    <tr>
    <td> User mobile: </td>
    <td><%= user.mobile %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
</table>
<br/>

    
<br />

    
<% end %>
<%= link_to 'New User', new_user_path %>
<br/>
<center>
    <%= will_paginate @articles, :param_name =>'page' %>
    </center>


<hr/>
