<p id="notice"><%= notice %></p>
<center>
<table border=1 bgcolor=black>
<tr>
  <td>Name:</td>
  <td><%= @user.name %><td>
  </tr>


<tr>
  <td>Mobile:</td>
  <td><%= @user.mobile %></td>
</tr>

<tr>
  <td>Address:</td>
  <td><%= sanitize(@user.address) %>
  <%= @user.imagepath %></td>
</tr>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</center>

